{% extends "main/index.html" %}

{% block title %}Создать новость{% endblock title %}

{% block content %}
<div class="features">
    <h1>Создать новость</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="Название новости" class="form-control"><br>
        <input type="text" placeholder="Анонс новости" class="form-control"><br>
        <textarea class="form-control" placeholder="Текст статьи"></textarea><br>
        <input type="date" class="form-control"><br>
        <input type="time" class="form-control"><br>
        <button class="btn btn-success" type="submit">Добавить новость</button>
    </form>

</div>
{% endblock content %}